*.pyc
*.swp
*.pkl
*.pth
result*
weights*
/bin
/cv2
/filelock*
/fsspec*
/functorch
/imageio*
/jinja2*
/lazy_loader*
/markupsafe
/MarkupSafe*
/mpmath*
/networkx*
/numpy*
/nvidia*
/opencv*
/packaging*
/pillow*
/PIL
/pkg_resources
/scikit_image*
/scipy*
/setuptools*
/share
/skimage
/sympy*
/tifffile*
/torch*
/triton*
/typing_extensions*
/_distutils_hack
